[submodule "ansible/roles/juju4.cribl"]
	path = ansible/roles/juju4.cribl
	url = https://github.com/juju4/ansible-cribl.git
[submodule "ansible/roles/geerlingguy.docker"]
	path = ansible/roles/geerlingguy.docker
	url = https://github.com/juju4/ansible-role-docker-1.git
[submodule "ansible/roles/geerlingguy.filebeat"]
	path = ansible/roles/geerlingguy.filebeat
	url = https://github.com/geerlingguy/ansible-role-filebeat.git
[submodule "ansible/roles/prymalinstynct.velociraptor"]
	path = ansible/roles/prymalinstynct.velociraptor
	url = https://github.com/juju4/ansible_velociraptor.git
